.chat-action-button:hover svg path,
.chat-action-button:hover span {
    color: black;
    stroke: black;
}

.chat-action-button.active {
  svg path{
    color: black;
    stroke: black;
  }
  span{
    color: black;
    stroke: black;
  }
}

.dark {
  .chat-action-button:hover svg path,
  .chat-action-button:hover span {
      color: white;
      stroke: white;
  }
}


.dark {
  .chat-action-button.active svg path,
  .chat-action-button.active span {
    color: white;
    stroke: white;
  }
} 